.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 35px;
    background: none;
    border-radius: 10px;
}

.login-title {
    text-align: center;
    color: white;
}
h2{
    margin-bottom: 5px;
}
p.login-title{
    font-size: small;
}
.login-input {
    padding: 10px;
    margin-bottom: 12px;
    background: none;
    border: 1.5px solid #fff;
    border-radius: 15px;
    color: #fff;
    font-weight: 500;
}
.login-input::placeholder {
  color: #A5A5A5;
  font-weight: 600;
}
.forgot-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.forgot-password {
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.login-button {
    padding: 10px;
    background: none;
    color: #48cb27;
    border: 2px solid #48cb27;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    margin-top: 10px;
    background: #1A1B22;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.register-text {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: small;
    color:#fff;
}

.register-link {
    color: #18A6C6;
    text-decoration: none;
    font-style: italic;
    font-weight: normal;
}