.progress {
  margin-bottom: 20px;
  color: white;
}

.progress-text {
  margin-bottom: 5px;
  font-size: 14px;
}

.progress-bar {
  height: 10px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #48cb27;
  transition: 0.3s;
}