.register-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.register-form{
    display:flex;
    flex-direction:column;
    width:340px;
    padding:35px;
    border-radius:10px;
}

.register-title{
    text-align:center;
    color: white;
}
h2{
    margin-bottom: 5px;
}
p.register-title{
    font-size: small;
}
.register-input{
    padding: 10px;
    margin-bottom: 12px;
    background: none;
    border: 1.5px solid #fff;
    border-radius: 15px;
    color: #fff;
    font-weight: 500;
}

.register-input::placeholder{
    color: #A5A5A5;
    font-weight: 600;
}

.register-button{
    padding: 10px;
    background: none;
    color: #48cb27;
    border: 2px solid #48cb27;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
}

.register-message{
  color:red;
  font-size:13px;
  margin-top: 5px;
}

.login-redirect{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: small;
    color:#fff;
}

.login-link {
    color: #18A6C6;
    text-decoration: none;
    font-style: italic;
    font-weight: normal;
}